<!DOCTYPE html>

{% extends 'Menu.html'%}

{% block content %}

<html lang="es">
  
<body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/editor.css' %}">

    <div class="wave-group">
        <input required="" type="text" class="input">
        <span class="bar"></span>
        <label class="label">
            <span class="label-char" style="--index: 0">T</span>
            <span class="label-char" style="--index: 1">I</span>
            <span class="label-char" style="--index: 2">T</span>
            <span class="label-char" style="--index: 3">U</span>
            <span class="label-char" style="--index: 4">L</span>
            <span class="label-char" style="--index: 5">O</span>
        </label>
    </div>
  
</body>

  <head>
    
    <meta charset="UTF-8" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vexflow/4.2.5/vexflow-min.js"
      integrity="sha512-6TxXkXvDGlTfA/gxa+Odoa/so4d4/bjB6c5lgyZq8OVWqUVoDm2dC2PSI4g8Shlc2RZ6FnS1jh792Fo3HRINnw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.6.0/math.min.js"></script>

    {% load static %}
    <script src="{% static 'Scripts/EditorListener.js' %}" defer></script>
    <script src="{% static 'Scripts/VexRec.js' %}" defer></script>
    <script src="{% static 'Scripts/Notacion.js' %}" defer></script>
    <script src="{% static 'Scripts/Editor.js' %}" defer></script>
    <script src="{% static 'Scripts/Compas.js' %}" defer></script>
    <script src="{% static 'Scripts/Nota.js' %}" defer></script>
    <script src="{% static 'Scripts/Vex.js' %}" defer></script>
    <script src="{% static 'Scripts/Partitura.js' %}" defer></script>

    <style>
      .ml-100 {
        margin-left: 100px;
      }      
    </style>

    <title>Pentagrama</title>
  </head>
    
    <!-- 
    <div class="col">
      <div contenedor menu >
      <div class="row">
        <div class = "barra ">
        <div id editor >-->
    <!--<div id="Editor" class = "ml-100"></div>-->
    <canvas id="Editor" class="ml-100" width="0" height="0"></canvas>


  </body>
</html>

{% endblock%}