<!-- mi_aplicacion/templates/mi_aplicacion/pentagrama.html -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vexflow/4.2.5/vexflow-min.js"
      integrity="sha512-6TxXkXvDGlTfA/gxa+Odoa/so4d4/bjB6c5lgyZq8OVWqUVoDm2dC2PSI4g8Shlc2RZ6FnS1jh792Fo3HRINnw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.6.0/math.min.js"></script>

    {% load static %}
    <script src="{% static 'Scripts/EditorListener.js' %}" defer></script>
    <script src="{% static 'Scripts/VexRec.js' %}" defer></script>
    <script src="{% static 'Scripts/Notacion.js' %}" defer></script>
    <script src="{% static 'Scripts/Editor.js' %}" defer></script>
    <script src="{% static 'Scripts/Compas.js' %}" defer></script>
    <script src="{% static 'Scripts/Nota.js' %}" defer></script>
    <script src="{% static 'Scripts/Vex.js' %}" defer></script>
    <script src="{% static 'Scripts/Partitura.js' %}" defer></script>
    <script src="{% static 'Scripts/VexTuplet.js' %}" defer></script>
    <script src="{% static 'Scripts/Pentagrama.js' %}" defer></script>
    <script src="{% static 'Scripts/export.js' %}" defer></script>
    <script src="{% static 'Scripts/import.js' %}" defer></script>

    <style>
      .ml-100 {
        margin-left: 100px;
      }      
    </style>

    <title>Pentagrama</title>
  </head>

  <body>
    <p>{{ var }} </p>
    <button id ='boton' onclick="exportMidi()">Boton</button>

    <!-- 
    <div class="col">
      <div contenedor menu >
      <div class="row">
        <div class = "barra ">
        <div id editor >-->
    <!--<div id="Editor" class = "ml-100"></div>-->
    <canvas id="Editor" class="ml-100" width="0" height="0"></canvas>


  </body>
</html>
