{% extends "MainMenu.html" %} {% block content %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'CSS/retos.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'CSS/master.css' %}"
    />
    <script src="{% static 'Scripts/DropDownMaster.js' %}" defer></script>
    <script src="{% static 'Scripts/SelectReto.js' %}" defer></script>

    <title></title>
  </head>

  <body class="htmlContent">

    <h1 class="reto-text">Retos semanales</h1>
    <div class="row mx-0 my-5">
      {% for reto in retos%}
        <div class="reto-containter">
      
          {% if reto.tipo == 'Armónico' %}
            <img src="{% static 'img/LogoFondo.png' %}" class="reto-img" />
          {% endif %}

          {% if reto.tipo == 'Melódico' %}
            <img src="{% static 'img/LogoFondo.png' %}" class="reto-img" />
          {% endif %}

          {% if reto.tipo == 'Rítmico' %}
            <img src="{% static 'img/LogoFondo.png' %}" class="reto-img" />
          {% endif %}

          <div class="row my-0">
            <h1 class="reto-titulo">{{reto.titulo}}</h1>
            <h1 class="reto-categoria">{{reto.tipo}}</h1>
          </div>  
          
          <a class="edit-panel" onclick="selectReto({{reto.id}})">
            <img src="asdfa" class="img-edit" />
          </a>
        </div>
      {% endfor %}

     
    </div>
  </body>
</html>

{% endblock %}
