

{% extends "MainMenu.html" %}

{% block content %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vexflow/4.2.5/vexflow-min.js" integrity="sha512-6TxXkXvDGlTfA/gxa+Odoa/so4d4/bjB6c5lgyZq8OVWqUVoDm2dC2PSI4g8Shlc2RZ6FnS1jh792Fo3HRINnw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.6.0/math.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/editor.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/master.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/participacion.css' %}"/>

    <script src="{% static 'Scripts/Editor/EditorListener.js' %}" defer></script>
    <script src="{% static 'Scripts/Editor/VexRec.js' %}" defer></script>
    <script src="{% static 'Scripts/Editor/Notacion.js' %}" defer></script>
    <script src="{% static 'Scripts/Editor/Editor.js' %}" defer></script>
    <script src="{% static 'Scripts/Editor/Compas.js' %}" defer></script>
    <script src="{% static 'Scripts/Editor/Nota.js' %}" defer></script>
    <script src="{% static 'Scripts/Editor/Vex.js' %}" defer></script>
    <script src="{% static 'Scripts/Editor/Partitura.js' %}" defer></script>
    <script src="{% static 'Scripts/Editor/VexTuplet.js' %}" defer></script>
    <script src="{% static 'Scripts/Editor/Pentagrama.js' %}" defer></script>
    <script src="{% static 'Scripts/Editor/export.js' %}" defer></script>
    <script src="{% static 'Scripts/Editor/import.js' %}" defer></script>
    
    <script src="{% static 'Scripts/Front/TextBox.js' %}" defer></script>
    <script src="{% static 'Scripts/Front/DD_Plus.js' %}" defer></script>
    <script src="{% static 'Scripts/Front/DropDown.js' %}" defer></script>

    <script type="text/javascript">
        var participacion = {{ participacion|safe }};
    </script>
    
    <script src="{% static 'Scripts/ParticipacionOnLoad.js' %}" defer></script>
    <script src="{% static 'Scripts/Like.js' %}" defer></script>
    

    <title></title>
  </head>

  <body class="htmlContent">
    
    <div class="container">
      <div class="row mx-0 mt-5">
        <div class="col mt-5">
          <div class="lbl-container">
          <p class="text-partitura">{{participacion.titulo}}</p>
          <p class="text-partitura">{{participacion.compositor}}</p>
          </div>
        </div>

      </div>

    <canvas id="Editor" width="0" height="0"></canvas>
    </div>

    <!-- Contenido fijo en la cabecera -->
    <div class="topContent">
      <!-- Menu editor -->
      <div class="col mx-0 d-flex justify-content-center my-0" >
        <div class="dropdown-down"> 

          <button id="archivoButtons" class="editorBtn" onclick="toggleDD('ddItemsArchivo')">
            <img src="{% static 'img/Archivo.png' %}" class="button-icon">
            Archivo
          </button> 

          <!-- Dropdown-archivo -->
          <div id="ddItemsArchivo" class="dropdown-container-down">
            <!-- Dropdown-export -->
            <div  class="dropdown-right">
              <div id="ddItemsExport" class="dropdown-container-down">
                <button class="dropdown-itm" onclick="exportMidi()">MIDI</button>
              </div> 
            </div>
            <button class="dropdown-itm" onfocus="showExportItems()" onblur="hideExportItems()">Exportar</button>
          </div>
        </div>

        <!-- Resto del menu -->
        <button class="editorBtn" onclick="closeArchivo();">
            <img src="{% static 'img/Reproducir.png' %}" class="button-icon">
            Reproducir
        </button>
        
        {% if votable %}
          {% if like == None %}
            <a href="/participacion/registrarLike/"><button class="editorBtn" onclick="participarReto()">
              <img src="{% static 'img/Like.png' %}" class="button-icon">
              Like
            </button></a>
          {% else %}
            <a href="/participacion/anularLike/"><button class="editorBtn" onclick="participarReto()">
              <img src="{% static 'img/NoLike.png' %}" class="button-icon">
              AnularLike
            </button></a>
          {% endif %}
      
        {% endif %}
        
      </div>
    </div>

  </body>
</html>

{% endblock %}


